version: '3.8'

services:
  island-1:
    build: ./worker
    volumes:
      - ./data:/app/data 

  island-2:
    build: ./worker
    volumes:
      - ./data:/app/data

  island-3:
    build: ./worker
    volumes:
      - ./data:/app/data

  coordinator:
    build: ./coordinator
    volumes:
      - ./data:/data
    depends_on:
      - island-1
      - island-2
      - island-3
    environment:
      - ISLANDS=http://island-1:8000,http://island-2:8000,http://island-3:8000
